<div class="background-modal">
    <div class="modal">
        <p>YOU WON!</p>
        <h1><span></span> TAKES THE ROUND</h1>
        <div class="buttons">
            <button class="quit">QUIT</button>
            <button class="next">NEXT ROUND</button>
        </div>
    </div>
</div>