<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="css/home.css">

    <%- include("partials/global-style") -%>
    <title>Tic Tac Toe</title>
</head>

<body>
    <div class="background-modal">
        <div class="modal">
            <div>
                <h1>Enter the Room ID You Want to Join</h1>
                <p class="warning"></p>
                <input type="text" name="roomId" autocomplete="off">
                <button class="join">Join</button>
            </div>
            <button class="back-to-home">Back to home</button>
        </div>
    </div>
    <div class="container">
        <h1 class="game-name">Welcome to <br> <span>Tic-Tac-Toe</span></h1>
        <div class="box">
            <h1>Pick Player1's Marker</h1>
            <div class="marker-container">
                <div class="toggle active">X</div>
                <div class="toggle">O</div>
            </div>
            <span>Remember: X goes first</span><br>
            <span class="p2p">PvP mode does not provide choosing marker</span>
        </div>
        <div class="buttons">
            <button class="vs-cpu">New Game (vs CPU)</button>
            <button class="vs-player">Create a room (vs Player)</button>
            <button class="join-room">Join Room</button>
        </div>
    </div>

    <script src="js/home.js"></script>
</body>

</html>