<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/game-board.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%- include("partials/global-style") -%>
        <title>Tic Tac Toe (vs Player)</title>
</head>

<body>
    <%# A pop-up modal that shows the result %>
        <%- include("partials/show-result") -%>

        <%# Game Board %>
        <div class="container">

            <%# Indicator for whose turn it is %>
            <div class="player-mode-top-row">
                <div class="player-mode-turn"><span>X</span> TURN</div>
            </div>

            <%# Tic-Tac-Toe Game Board %>
            <%- include("partials/grid-container") -%>

            <%# Score %>
            <div class="bottom-row">
                <div class="me"> (YOU) <span>0</span></div>
                <div class="ties"> TIES <span>0</span></div>
                <div class="opponent"> (OPPONENT) <span>0</span></div>
            </div>
        </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/vs-player.js"></script>
</body>

</html>