.box {
    background-color: #1F3540;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 12px;
    width: 260px;
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 0.8em;
    letter-spacing: 1px;
}

.game-name {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    font-size: 1.5em;
}

.game-name span {
    font-size: 1.5em;
}

span {
    color: #aaa;
    font-size: 0.6em;
    letter-spacing: 1px;
}

.marker-container {
    display: flex;
    width: 100%;
    background-color: #1A2B32;
    margin: 20px 0;
    border-radius: 4px;
}

.marker-container div {
    width: 50%;
    padding: 10px;
    color: #A9BEC9;
    font-weight: bold;
    cursor: pointer;
    margin: 6px;
    border-radius: 4px;
}

.marker-container div.active {
    background-color: #A9BEC9;
    color: #1A2B32;
}

.buttons {
    margin: 20px 0;
    width: 260px;
}

button {
    cursor: pointer;
    width: 100%;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    font-weight: bold;
    transition: 0.5s;
}

button:hover {
    transform: translateY(-2px);
}

button.vs-cpu {
    background-color: #F2B236;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

button.vs-player {
    background-color: #31C4BE;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

button.join-room {
    background-color: #bbb;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

a {
    text-decoration: none;
    color: black;
}

.background-modal {
    background-color: #04070aa4;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 999;
    display: none;
}


.modal {
    width: 100%;
    background-color: #1E3640;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal h1 {
    font-size: 1.4em;
    color: #bbb;
    margin-top: 30px;
    margin: 10px;
    text-align: center;
}

.modal div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal input {
    margin-top: 30px;
}

.modal button {
    width: 200px;
    background-color: #bbb;
    margin-bottom: 30px;
}

.modal button.join {
    background-color: #31C4BE;
}

.modal input {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #eee;
}

.warning {
    color: #df4759;
    text-transform: none;
    font-size: 0.8em;
}

.p2p {
    text-transform: none;
    color: #df4759;
}